{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ title }}{% endblock title %}</title>
</head>
{% block content %}

<body>
<center>
<div class="egov_news-item-right col-xs-9" >
    <div class="node-content">
        <table border="1" cellpadding="0" cellspacing="0" style="width:1001px ">
            <tbody>
            <tr>
                <td style="height:57px; width:47px">
                    <p class="rtejustify"><strong>№&nbsp;</strong></p>
                </td>
                <td style="height:57px; width:147px">
                    <p class="rtejustify"><strong>Әкімдік</strong></p>
                </td>
                <td style="height:57px; width:807px">
                    <div class="rtejustify"><strong>Сілтеме бойынша өту</strong></div>
                </td>
            </tr>
            <tr>
                <td style="height:23px; width:47px">
                    <p class="rtejustify">1</p>
                </td>
                <td style="height:23px; width:147px">
                    <p class="rtejustify">Нұр-Сұлтан қаласы</p>
                </td>
                <td style="height:23px; width:807px">
                    <p class="rtejustify"><a href="http://genplan.saulet.astana.kz/" rel="noopener noreferrer"
                                             target="_blank">http://genplan.saulet.astana.kz/</a></p>
                </td>
            </tr>
            <tr>
                <td style="height:23px; width:47px">
                    <p class="rtejustify">2</p>
                </td>
                <td style="height:23px; width:147px">
                    <p class="rtejustify">Алматы қаласы</p>
                </td>
                <td style="height:23px; width:807px">
                    <p class="rtejustify"><a href="http://almaty.genplan.kz/" rel="noopener noreferrer" target="_blank">http://almaty.genplan.kz/</a>
                    </p>
                </td>
            </tr>
            <tr>
                <td style="height:23px; width:47px">
                    <p class="rtejustify">3</p>
                </td>
                <td style="height:23px; width:147px">
                    <p class="rtejustify">Шымкент қаласы</p>
                </td>
                <td style="height:23px; width:807px">
                    <p class="rtejustify"><a href="http://jerkatinasi.gov.kz/auktsion" rel="noopener noreferrer"
                                             target="_blank">http://jerkatinasi.gov.kz/auktsion</a></p>
                </td>
            </tr>
            <tr>
                <td style="height:20px; width:47px">
                    <p class="rtejustify">4</p>
                </td>
                <td style="height:20px; width:147px">
                    <p class="rtejustify">Ақмола облысы</p>
                </td>
                <td style="height:20px; width:807px">
                    <p class="rtejustify"><a
                            href="https://www.gov.kz/memleket/entities/aqmola/documents/details/144833?directionId=11648&amp;lang=kk%20"
                            target="_blank">https://www.gov.kz/memleket/entities/aqmola/documents/details/144833?directionId=11648&amp;lang=kk </a>&nbsp;
                    </p>
                </td>
            </tr>
            <tr>
                <td style="height:20px; width:47px">
                    <p class="rtejustify">5</p>
                </td>
                <td style="height:20px; width:147px">
                    <p class="rtejustify">Ақтөбе облысы</p>
                </td>
                <td style="height:20px; width:807px">
                    <p class="rtejustify"><a href="https://www.gov.kz/memleket/entities/aktobe-"
                                             rel="noopener noreferrer" target="_blank">https://www.gov.kz/memleket/entities/aktobe-</a>
                    </p>

                    <p class="rtejustify"><a
                            href="https://www.gov.kz/memleket/entities/aktobe/press/article/details/47059?lang=kk"
                            rel="noopener noreferrer" target="_blank">https://www.gov.kz/memleket/entities/aktobe/press/article/details/47059?lang=kk</a>
                    </p>
                </td>
            </tr>
            <tr>
                <td style="height:15px; width:47px">
                    <p class="rtejustify">6</p>
                </td>
                <td style="height:15px; width:147px">
                    <p class="rtejustify">Алматы облысы</p>
                </td>
                <td style="height:15px; width:807px">
                    <p class="rtejustify"><a href="http://zhetysu.gov.kz/content/zemelnye-otnosheniya/"
                                             rel="noopener noreferrer" target="_blank">http://zhetysu.gov.kz/content/zemelnye-otnosheniya/</a>
                    </p>
                </td>
            </tr>
            <tr>
                <td style="height:17px; width:47px">
                    <p class="rtejustify">7</p>
                </td>
                <td style="height:17px; width:147px">
                    <p class="rtejustify">Атырау облысы</p>
                </td>
                <td style="height:17px; width:807px">
                    <p class="rtejustify"><a
                            href="http://www.atyrau.gov.kz/page/read/Information_form_on_free_land_plots_in_the_territory_of_Atyrau_region.html"
                            rel="noopener noreferrer" target="_blank">http://www.atyrau.gov.kz/page/read/Information_form_on_free_land_plots_in_the_territory_of_Atyrau_region.html</a>
                    </p>
                </td>
            </tr>
            <tr>
                <td style="height:34px; width:47px">
                    <p class="rtejustify">8</p>
                </td>
                <td style="height:34px; width:147px">
                    <p class="rtejustify">Шығыс Қазақстан облысы</p>
                </td>
                <td style="height:34px; width:807px">
                    <p class="rtejustify"><a
                            href="https://www.gov.kz/memleket/entities/akimvko/press/article/details/53631?lang=kk"
                            target="_blank">https://www.gov.kz/memleket/entities/akimvko/press/article/details/53631?lang=kk</a>
                    </p>

                    <p class="rtejustify">Геопортал ШҚО <a href="https://www.vkomap.kz/kaz/" rel="noopener noreferrer"
                                                           target="_blank">https://www.vkomap.kz/</a></p>
                </td>
            </tr>
            <tr>
                <td style="height:42px; width:47px">
                    <p class="rtejustify">9</p>
                </td>
                <td style="height:42px; width:147px">
                    <p class="rtejustify">Жамбыл обылысы</p>
                </td>
                <td style="height:42px; width:807px">
                    <p class="rtejustify"><a
                            href="http://uzo-zhambyl.kz/index.php/ru/istochnik-informatsij-o-svobodnykh-zemelnykh-uchastkakh-po-oblasti"
                            rel="noopener noreferrer" target="_blank">http://uzo-zhambyl.kz/index.php/ru/istochnik-informatsij-o-svobodnykh-zemelnykh-uchastkakh-po-oblasti</a>
                    </p>
                </td>
            </tr>
            <tr>
                <td style="height:37px; width:47px">
                    <p class="rtejustify">10</p>
                </td>
                <td style="height:37px; width:147px">
                    <p class="rtejustify">Батыс Қазақстан облысы</p>
                </td>
                <td style="height:37px; width:807px">
                    <p class="rtejustify"><a href="http://zem.kz/" rel="noopener noreferrer" target="_blank">http://zem.kz/</a>
                    </p>
                </td>
            </tr>
            <tr>
                <td style="height:21px; width:47px">
                    <p class="rtejustify">11</p>
                </td>
                <td style="height:21px; width:147px">
                    <p class="rtejustify">Қарағанды облысы</p>
                </td>
                <td style="height:21px; width:807px">
                    <p class="rtejustify"><a
                            href="https://www.gov.kz/memleket/entities/karaganda/documents/details/152374?lang=kk"
                            target="_blank">https://www.gov.kz/memleket/entities/karaganda/documents/details/152374?lang=kk</a>
                    </p>
                </td>
            </tr>
            <tr>
                <td style="height:47px; width:47px">
                    <p class="rtejustify">12</p>
                </td>
                <td style="height:47px; width:147px">
                    <p class="rtejustify">Қостанай облысы</p>
                </td>
                <td style="height:47px; width:807px">
                    <p class="rtejustify"><a
                            href="http://kostanay.gov.kz/kz/biznes/svobodnye-zemelnye-uchastki-v-razreze-gorodov-i-rayonov/index.php"
                            rel="noopener noreferrer" target="_blank">http://kostanay.gov.kz/kz/biznes/svobodnye-zemelnye-uchastki-v-razreze-gorodov-i-rayonov/index.php</a>
                    </p>
                </td>
            </tr>
            <tr>
                <td style="height:19px; width:47px">
                    <p class="rtejustify">13</p>
                </td>
                <td style="height:19px; width:147px">
                    <p class="rtejustify">Қызылорда облысы</p>
                </td>
                <td style="height:19px; width:807px">
                    <p class="rtejustify"><a
                            href="https://www.gov.kz/memleket/entities/kyzylorda-zher/press/article/details/11331?lang=kk"
                            rel="noopener noreferrer" target="_blank">https://www.gov.kz/memleket/entities/kyzylorda-zher/press/article/details/11331?lang=kk</a>
                    </p>
                </td>
            </tr>
            <tr>
                <td style="height:19px; width:47px">
                    <p class="rtejustify">14</p>
                </td>
                <td style="height:19px; width:147px">
                    <p class="rtejustify">Қызылорда қаласы</p>
                </td>
                <td style="height:19px; width:807px">
                    <p class="rtejustify"><a href="https://www.gov.kz/memleket/entities/kyzylorda-kzo/documents/details/262781?directionId=2628&amp;lang=kk"
                           rel="noopener noreferrer" target="_blank">https://www.gov.kz/memleket/entities/kyzylorda-kzo/documents/details/262781?directionId=2628&amp;lang=kk</a>
                    </p>
                </td>

            </tr>
            <tr>
                <td style="height:23px; width:47px">
                    <p class="rtejustify">15</p>
                </td>
                <td style="height:23px; width:147px">
                    <p class="rtejustify">Маңғыстау облысы</p>
                </td>
                <td style="height:23px; width:807px">
                    <p class="rtejustify"><a href="http://www.mangystau.gov.kz/page/view/4882" rel="noopener noreferrer"
                                             target="_blank">http://www.mangystau.gov.kz/page/view/4882</a></p>
                </td>
            </tr>
            <tr>
                <td style="height:38px; width:47px">
                    <p class="rtejustify">16</p>
                </td>
                <td style="height:38px; width:147px">
                    <p class="rtejustify">Павлодар облысы</p>
                </td>
                <td style="height:38px; width:807px">
                    <p class="rtejustify"><a
                            href="https://www.gov.kz/memleket/entities/pavlodar/documents/details/159444?lang=ru"
                            rel="noopener noreferrer" target="_blank">https://www.gov.kz/memleket/entities/pavlodar/documents/details/159444?lang=ru</a>
                    </p>
                </td>
            </tr>
            <tr>
                <td style="height:39px; width:47px">
                    <p class="rtejustify">17</p>
                </td>
                <td style="height:39px; width:147px">
                    <p class="rtejustify">Солтүстік Қазақстан облысы</p>
                </td>
                <td style="height:39px; width:807px">
                    <p class="rtejustify"><a href="http://sko.gov.kz/page/read/Zemlepolzovanie.html?lang=ru"
                                             rel="noopener noreferrer" target="_blank">http://sko.gov.kz/page/read/Zemlepolzovanie.html?lang=ru</a>
                    </p>
                </td>
            </tr>
            <tr>
                <td style="height:33px; width:47px">
                    <p class="rtejustify">18</p>
                </td>
                <td style="height:33px; width:147px">
                    <p class="rtejustify">Түркістан облысы</p>
                </td>
                <td style="height:33px; width:807px">
                    <p class="rtejustify"><a href="https://turkistan.gov.kz/ru" rel="noopener noreferrer"
                                             target="_blank">https://turkistan.gov.kz/ru</a></p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
    </center>
<br>
</body>
{% endblock content %}
</html>