{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ title }}{% endblock title %}</title>
</head>
{% block content %}
<body>
<div class="egov_news-item-right col-xs-9">
    <div id="accordion">
        <p class="rtejustify">
            <img alt="паспорт" src="{% static 'img/about/grajdan.jpg' %}"
                 style="float: left; height: 232px; margin: 3px 17px; width: 300px;">«ҚР-ның азаматтығы
            адамның мемлекетпен тұрақты саяси-құқылық байланысын айқындайды, бұл байланыс олардың өзара құқылары мен
            міндеттерінің жиынтығынан көрінеді. ҚР-нда әрбiр адамның азаматтық алуға құқығы бар».</p>
        <p class="rtejustify">Ендеше, Республика азаматтығын алудың негізгі аспектілерін қарастырайық.&nbsp;Қалайда, өз
            алдына осындай міндет қойған адамдардың көбі түрлі сұрақтарға тап болады:&nbsp; қандай құжаттарды, қандай
            органдарға тапсыру керек,&nbsp; оларды қарау мерзімдері, бас тарту үшін негіздері қандай және т.б.</p>
        <br>
        <br>
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                            aria-controls="collapseOne">
                        ҚР азаматтығын алу
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <div class="slidedown-content">
                        <p class="rtejustify">&nbsp;ҚР-ның «ҚР-ның азаматтығы туралы» Заңының&nbsp;<a
                                href="http://adilet.zan.kz/rus/docs/Z910004800_#z77" target="_blank"
                                rel="noopener noreferrer">10 бабына</a> сәйкес &nbsp;азаматтық:</p>

                        <ul>
                            <li class="rtejustify">тууы бойынша;</li>
                            <li class="rtejustify">ҚР-ның азаматтығына қабылдау нәтижесінде;</li>
                            <li class="rtejustify">ҚР-ның халықаралық шарттарында &nbsp;көзделген негiздер мен тәртiп
                                бойынша;
                            </li>
                        </ul>

                        <ul>
                            <li class="rtejustify">осы Заңда көзделген өзге де негіздер бойынша алынады.</li>
                        </ul>

                        <p class="rtejustify">Егер Сіз басқа мемлекеттің азаматы немесе азаматтығы жоқ&nbsp; адам
                            болсаңыз,
                            онда Сіз өтініш беріп:</p>

                        <ul>
                            <li class="rtejustify"><a href="http://adilet.zan.kz/kaz/docs/Z910004800_" target="_blank"
                                                      rel="noopener noreferrer"
                                                      title="Закон Республики Казахстан 'О гражданстве Республики Казахстан'">ҚР-ның
                                «ҚР-ның азаматтығы туралы» Заңының</a>;
                            </li>
                            <li class="rtejustify"><a href="http://adilet.zan.kz/kaz/docs/U060000198_" target="_blank"
                                                      rel="noopener noreferrer">ҚР-ның Президентінің жанындағы Азаматтық
                                мәселелері жөніндегі комиссия туралы&nbsp;ҚР Президентінің Жарлығының</a>;
                            </li>
                            <li class="rtejustify"><a href="http://adilet.zan.kz/kaz/docs/V1600013391" target="_blank"
                                                      rel="noopener noreferrer">Қазақстан Республикасының азаматтығына
                                қабылдау және Қазақстан Республикасының азаматтығын қалпына келтіру, оның ішінде
                                жеңілдетілген тәртіппен (тіркеу тәртібімен), азаматтықтан шығу, азаматтықты жоғалту</a>
                                мен
                                одан айыру және Қазақстан Республикасының азаматтығына жататындығын айқындау мәселелері
                                бойынша өтінішхаттарды (өтініштерді) ішкі істер органдарының қабылдау, ресімдеу және
                                қарау
                                қағидаларының;
                            </li>
                            <li class="rtejustify">ҚР-ның шет елдегі мекемелерінің ҚР-ның азаматтығы&nbsp;мәселелеріне
                                қатысты&nbsp;құжаттарды ресімдеуі жөніндегі нұсқаулықтың&nbsp;нормаларына
                            </li>
                            <li class="rtejustify">Үйленген әйелдердің азаматтығы туралы конвенция;</li>
                            <li class="rtejustify">Оңайлатылған іс жүргізу туралы Беларусь Республикасы, Қазақстан
                                Республикасы, Қырғыз Республикасы және Ресей Федерациясы арасындағы келісіміне сәйкес
                                ҚР-ның
                                азаматтығына қабылдана аласыз
                            </li>
                        </ul>

                        <p class="rtejustify">&nbsp;«Азаматтық туралы»&nbsp;Заңының&nbsp;<a
                                href="http://adilet.zan.kz/kaz/docs/Z910004800_#z53" target="_blank"
                                rel="noopener noreferrer">16 бабына</a> сәйкес&nbsp;ҚР-ның азаматтығына:</p>

                        <ul>
                            <li class="rtejustify">Қазақстан Республикасында кемінде бес жыл тұрақты тұратын адамдар
                                (азаматтық алу туралы өтініш берген кезде, Қазақстан Республикасында тұрудың бес жылдық
                                мерзімі үздіксіз болуы керек) немесе Қазақстан Республикасының азаматымен некеде тұрған
                                (кемінде 3 жыл);
                            </li>
                            <li class="rtejustify">Бұрынғы одақтас республикалардың Қазақстан Республикасына тұрақты
                                тұруға
                                келген, жақын туыстарының бірі - Қазақстан Республикасының азаматтары: бала (асырап
                                алынған
                                баланы қоса алғанда), жұбайы (әйелі), ата-аналарының бірі (асырап алушылар), әпке,
                                ағасы,
                                атасы; немесе әжесі, Қазақстан Республикасында болу мерзіміне қарамастан.
                            </li>
                        </ul>

                        <p class="rtejustify">«Азаматтық туралы» Заңның <a
                                href="http://adilet.zan.kz/kaz/docs/Z910004800_#z54" target="_blank"
                                rel="noopener noreferrer">16-1-бабына</a> сәйкес Қазақстан Республикасының азаматтығы
                            жеңілдетілген (тіркеу) тәртіппен қабылданады:</p>

                        <p class="rtejustify">Жеңiлдетiлген тәртiппен (тiркеу тәртiбiмен) Қазақстан Республикасының
                            азаматтығына:</p>

                        <ul>
                            <li class="rtejustify">
                                <p>тұру мерзіміне қарамастан, Қазақстан Республикасының аумағында заңды негіздерде
                                    тұрақты
                                    тұратын қандастар;</p>
                            </li>
                            <li class="rtejustify">
                                <p>тұру мерзiмiне қарамастан, Қазақстан Республикасының аумағында заңды негіздерде
                                    тұрақты
                                    тұратын, өздерінің ерік қалауынан тыс азаматтығынан айырылған немесе оны жоғалтқан
                                    жаппай саяси қуғын-сүргiннiң ақталған құрбандары, сондай-ақ олардың ұрпақтары;</p>
                            </li>
                            <li class="rtejustify">
                                <p>Қазақстан Республикасының жоғары оқу орындарында білім алатын этникалық қазақтар
                                    қабылдануы мүмкiн.</p>
                            </li>
                        </ul>

                        <p class="rtejustify" id="z88">Жеңілдетілген тәртіппен (тіркеу тәртібімен) азаматтық алу туралы
                            материалдарды қарау мерзімі өтініш берілген күннен бастап үш айдан аспауға тиіс.</p>
                    </div>

                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                            aria-expanded="false" aria-controls="collapseTwo">
                        ҚР-ның азаматтығына қабылдаудың жалпыға бірдей белгіленген тәртібі
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    <p class="rtejustify">Адам қай сәттен ҚР-ның азаматы болып табылатынын &nbsp;анықтау үшін Заңның 37
                        бабын пайдалану қажет,&nbsp; оған сәйкес&nbsp;ҚР азаматтығын:</p>
                    <ul>
                        <li class="rtejustify">азаматтыққа қабылдау туралы ҚР Президентінің жарлығы шыққан күні;</li>
                        <li class="rtejustify">кәмелетке толмағандардың туған немесе асырап алынған күні;</li>
                        <li class="rtejustify">кәмелетке толмағандардың ата-анасын ҚР азаматтығына қабылдау туралы ҚР
                            Президентінің жарлығы шыққан күні;
                        </li>
                        <li class="rtejustify">азаматтық мемлекетаралық шарттарында көзделгендей тәртiп бойынша
                            тіркелген
                            күні;
                        </li>
                        <li class="rtejustify">жеңілдетілген тәртіппен (тіркеу тәртібімен) ҚР-ның азаматтығын алу
                            тіркелген
                            күні алады
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                            aria-expanded="false" aria-controls="collapseThree">
                        ҚР-ның азаматтығына қабылдаудың жеңілдетілген тәртібі
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                    <p class="rtejustify">Жеңiлдетiлген тәртiппен (тiркеу тәртiбiмен) ҚР-ның азаматтығына қабылдау&nbsp;ҚР
                        жасасқан халықаралық&nbsp;келісімдерге сәйкес жүзеге асырылады. Қазіргі уақытта жеңілдетілген
                        тәртіп
                        мынадай адамдарға қатысты әрекет етеді:</p>
                    <ul>
                        <li class="rtejustify">Ресей Федерацисының азаматтары;</li>
                        <li class="rtejustify">Беларусь Республикасының азаматтары;</li>
                        <li class="rtejustify">Қырғызстан Республикасының азаматтары;</li>
                        <li class="rtejustify">ҚР-ның азаматымен некеде тұрған шетелдіктер.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingFour">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour"
                            aria-expanded="false" aria-controls="collapseFour">
                        Баланың азаматтығы
                    </button>
                </h5>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                <div class="card-body">
                    <div class="slidedown-content">
                        <p class="rtejustify">Бала туған кезде ата-анасының екеуі де ҚР-ның азаматы болса, ол туған
                            жеріне
                            қарамастан ҚР-ның азаматы болып табылады.&nbsp;</p>

                        <p class="rtejustify"><strong>Ата-анасының азаматтығы әртүрлі болған жағдайындағы баланың
                            азаматтығы</strong>&nbsp;</p>

                        <p class="rtejustify">Ата-анасының азаматтығы әртүрлі болып, бала туған кезде олардың біреуі
                            ҚР-ның
                            азаматы болған жағдайда бала:&nbsp;</p>

                        <ul>
                            <li class="rtejustify">ҚР-ның аумағында туса;&nbsp;</li>
                            <li class="rtejustify">ҚРнан тыс жерде туса, бірақ, ата-анасының немесе олардың біреуінің
                                бұл
                                кезде ҚР территориясында тұрақты тұрғылықты жері болса, ол ҚР-ның азаматы болып
                                табылады.
                            </li>
                        </ul>

                        <p class="rtejustify">Ата-анасының азаматтығы әртүрлі болып, бала туған кезде олардың біреуі
                            ҚР-ның
                            азаматы болған жағдайда, егер осы кезде ата-анасының екеуінің де ҚР-нан тыс жерде тұрақты
                            тұрғылықты жері болса, ҚРнан тыс жерде туған баланың азаматтығы ата-анасының жазбаша түрде
                            білдірген келісімі бойынша анықталады.&nbsp;</p>

                        <p class="rtejustify">Бала туған кезде ата-анасының біреуі ҚР азаматтығында болып, ал екіншісі
                            азаматтығы жоқ адам болса, не оның азаматтығы белгісіз болса, бала қай жерде туғанына
                            қарамастан
                            ҚР-ның азаматы болып табылады.&nbsp;</p>

                        <p class="rtejustify">Баланың анасы азаматтығы жоқ адам болып, ал әкесі ҚР-ның азаматы деп
                            танылып,
                            әкелігі анықталған ретте 14 жасқа толмаған бала қай жерде туғанына қарамастан ҚР-ның азаматы
                            болады. Бұл бала ҚРнан тыс жерлерде тұрақты тұрған ретте оның азаматтығы ата-анасының
                            жазбаша
                            арызы бойынша анықталады.</p>

                        <p class="rtejustify">Ата-аналары баланың азаматтығы туралы келісімге &nbsp;келмеген жағдайда,
                            азаматтық&nbsp; сот тәртібінде&nbsp; анықталады.&nbsp;&nbsp;</p>

                        <p class="rtejustify"><strong>Ата-анасы белгісіз баланың азаматтығы</strong></p>

                        <p class="rtejustify">Ата-анасының екеуі де белгісіз ҚР территориясындағы бала ҚР-ның азаматы
                            болып
                            табылады.&nbsp;</p>

                        <p class="rtejustify"><strong>Азаматтығы жоқ адамдардың баласының ҚР азаматтығын алуы</strong>
                        </p>

                        <p class="rtejustify">ҚР-ның аумағында тұрақты тұратын жері бар, азаматтығы жоқ адамдардың
                            ҚР-ның
                            аумағында туған баласы ҚР-ның азаматы болып табылады.&nbsp;</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingFive">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive"
                            aria-expanded="false" aria-controls="collapseFive">
                        ҚР-ның азаматтығына қабылдаудан бас тарту негіздері
                    </button>
                </h5>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                <div class="card-body">
                    <div class="slidedown-content">
                        <p class="rtejustify">Осындай негіздердің тізбесі «Азаматық туралы» Заңның <a
                                href="http://adilet.zan.kz/kaz/docs/Z910004800_#z58" target="_blank"
                                rel="noopener noreferrer">17 бабында</a> келтірілген.&nbsp;Егер ҚР-ның азаматтығына
                            &nbsp;қабылдау
                            туралы өтiнiш білдірген адам:</p>

                        <ul>
                            <li class="rtejustify">адамзатқа қарсы халықаралық құқықта көзделген қылмыс жасаса, ҚР-ның
                                егемендiгi мен тәуелсiздiгiне әдейi қарсы шықса;
                            </li>
                            <li class="rtejustify">ҚР аумағының бiрлiгi мен тұтастығын бұзуға шақырса;</li>
                            <li class="rtejustify">ұлттық қауiпсiздiкке, халықтың денсаулығына нұқсан келтiретiн құқыққа
                                қарсы әрекетті жүзеге асырса;
                            </li>
                            <li class="rtejustify">ұлтаралық, конфессияаралық және дiни араздықты қоздыратын болса, ҚР
                                мемлекеттiк тiлiнiң қолданылуына қарсы әрекет жасаса;
                            </li>
                            <li class="rtejustify">террористтік және экстермисттік ұйымдарға &nbsp;&nbsp;&nbsp;кірген
                                немесе
                                террористік әрекеті үшін сотталған болса;
                            </li>
                            <li class="rtejustify">халықаралық іздеуде болса, соттың күшіне енген үкімі бойынша жазасын
                                өтеп
                                жүрсе не сот оның әрекетін ерекше қауіпті баукеспелік деп таныса;
                            </li>
                            <li class="rtejustify">РФ, Қырғыз Республикасы, Беларусь азаматы болса, бұл ереже ҚРна
                                тұрақты
                                тұру мақсатында келген, жақын туыстарының біреуі - ҚР-ның азаматы болып табылатын,
                                бұрынғы
                                одақтас республикалардың азаматтарына таралады, егер олар&nbsp; шетел азаматтықтан бас
                                тарту
                                туралы жазбаша өтінішпен жүгінсе;
                            </li>
                            <li class="rtejustify">ҚР-ның азаматтығына қабылдау туралы өтініш білдірген кезде өзі туралы
                                жалған мәліметтер хабарласа немесе ҚР-ның заңнамасында белгіленген мерзімдерде қажетті
                                құжаттарды дәлелсіз себептермен тапсырмаса;
                            </li>
                            <li class="rtejustify">ҚР-ның аумағында немесе оның шегінен тыс жерлерде қасақана қылмыс
                                жасағаны үшін ҚР-ның заңмасымен солай деп танылған, соттылығы алынбаған немесе өтелмеген
                                болса;
                            </li>
                            <li class="rtejustify">ҚР-ның азаматтығына қабылдау немесе ҚР-ның азаматтығын қалпына
                                келтіру
                                туралы өтініш бергенге дейінгі бес жыл ішінде экономика саласында құқық бұзушылық&nbsp;жасаса;
                            </li>
                            <li class="rtejustify">ҚР-ның азаматтығына қабылдау немесе ҚР-ның азаматтығын қалпына
                                келтіру
                                туралы өтініш бергенге дейінгі бес жыл ішінде бірнеше рет ҚР-ның халықтың көші-қоны
                                саласындағы заңнамасын&nbsp; бұзса;
                            </li>
                            <li class="rtejustify">ҚР-ның азаматтығына қабылдау немесе ҚР-ның азаматтығын қалпына
                                келтіру
                                туралы өтініш білдіргенге дейінгі бес жыл ішінде ҚР-ның азаматтығы туралы Заңның 21
                                бабының
                                1), 2) және 5) тармақшалары &nbsp;негізінде ҚР-ның азаматтығынан айырылса;
                            </li>
                            <li class="rtejustify">ҚР-ның азаматтығы туралы&nbsp;Заңның&nbsp;21 бабының бірінші бөлігі
                                8)
                                тармақшасы&nbsp; негізінде ҚР-ның азаматтығын жоғалтса;
                            </li>
                            <li class="rtejustify">ҚР-ның азаматтығы туралы &nbsp;20-1 бабы&nbsp;негізінде ҚР-ның
                                азаматтығынан айырылса, оның өтініші қабылданбайды.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingSix">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix"
                            aria-expanded="false" aria-controls="collapseSix">
                        ҚР шет елдердеге ҚР-ның азаматтығына қабылдау және ҚР-ның азаматтығын қалпына келтіру үшін
                        қажетті
                        құжаттар
                    </button>
                </h5>
            </div>
            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                <div class="card-body">
                    ҚР-нан тыс жерде тұрақты тұратын кәмелетке толмағандар, қабілеті жоқ және ҚР алдында ерекше еңбек
                    сiңiрген адамдар немесе ҚР Президентiнің 2005 жылғы 6 маусымдағы № 1587 Жарлығымен бекітілген ҚР-ның
                    азаматтығына қабылдаудың оңайлатылған тәртібі белгіленетін адамдар үшін кәсіптердің тізбесі және
                    оларға
                    қойылатын талаптарға (бұдан әрі – тізбе) сай келетiн адамдар және олардың отбасы мүшелерi шет
                    елдердегі
                    мекемелер арқылы ҚР-ның азаматтығына қабылдау немесе ҚР-ның азаматтығын қалпына келтіру туралы
                    өтінішіне
                    қоса болу елдің құзыретті органдарымен ресімделген мынадай құжаттарды ұсынады:

                    <ul>
                        <li class="rtejustify" style="margin-left: 50px;">нысан бойынша сауалнама-өтініш;</li>
                        <li class="rtejustify" style="margin-left: 50px;">өмiрбаян (өз қолымен жазылған);</li>
                        <li class="rtejustify" style="margin-left: 50px;">3,5 х 4,5 көлемінде фотосурет;</li>
                        <li class="rtejustify" style="margin-left: 50px;">өтініш берушінің жеке басын куәландыратын
                            құжаттың
                            көшірмесі;
                        </li>
                        <li class="rtejustify" style="margin-left: 50px;">ҚРнан тыс жерде тұрақты тұруын растайтын
                            құжат;
                        </li>
                        <li class="rtejustify" style="margin-left: 50px;">апостильденген немесе заңдастырылған
                            сотталғандығы
                            болуы туралы анықтама;
                        </li>
                        <li class="rtejustify" style="margin-left: 50px;">тиісті мемлекеттің құзыретті органы берген
                            басқа
                            мемлекеттің азаматтығының
                            жоқтығы немесе тоқтатылғандығы туралы анықтама;
                        </li>
                        <li class="rtejustify" style="margin-left: 50px;">балаларының туу туралы және неке қию туралы
                            куәлiктерінің көшiрмелерi (бар
                            болған жағдайда);
                        </li>
                        <li class="rtejustify" style="margin-left: 50px;">нысан бойынша көзделген шарттарды сақтау
                            туралы
                            өтініш-келісім;
                        </li>
                        <li class="rtejustify" style="margin-left: 50px;">консулдық алымның төленгенi туралы құжат.</li>
                    </ul>

                    Көзделген құжаттардан басқа ҚР-ның азаматтығын қалпына келтіру туралы өтінішке өтініш берушінің
                    бұрын
                    ҚР-ның азаматтығына жататындығын растайтын құжаттың көшірмесі қоса беріледі.

                    ҚР алдында ерекше еңбек сiңiрген адамдар немесе тізбеге сай келетін адамдар және олардың отбасы
                    мүшелерi
                    құжаттарға қоса ҚР-ның бейінді мемлекеттік органының қолдаухатын ұсынады.
                </div>
            </div>
        </div>
    </div>
</div>
</body>
{% endblock content %}
</html>