{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ title }}{% endblock title %}</title>
</head>
{% block content %}
<body>
<div class="egov_news-item-right col-xs-9">
    <div id="accordion">
        <p class="rtejustify">
            <img alt="паспорт" src="{% static 'img/about/help.jpg' %}"
                 style="float: left; height: 232px; margin: 3px 17px; width: 300px;">Мемлекеттік атаулы әлеуметтік
            көмек-бұл шартсыз және шартты ақшалай көмек түрінде облыстарда, республикалық маңызы бар қалаларда, астанада
            белгіленген айлық табысы кедейлік шегінен төмен жеке тұлғаларға мемлекет тарапынан ақшалай нысандағы төлем.
        </p>
        <p class="rtejustify">Шартсыз ақшалай көмек келесі тұлғаларға көрсетіледі:

            1) Жұмыспен қамтуға жәрдемдесу іс-шараларына қатысуға мүмкіндіктері шектеулі жалғыз басты және (немесе)
            жалғыз тұратын аз қамтылған тұлғаларға төмендегі себептер бойынша:

            зейнеткерлік жасқа толуына;
            бірінші немесе екінші топтағы мүгедектігіне;
            екі айдан астам еңбекке уақытша қабілетсіздік мерзімі белгіленуі мүмкін ауруының болуына байланысты.</p>
        <br>
    </div>
    <p class="rtejustify">Жалғыз басты және/немесе жалғыз тұратын аз қамтылған тұлғаларға, сондай-ақ құрамында еңбекке
        жарамды мүшесі (мүшелері) бар аз қамтылған отбасыларға, оның&nbsp;ішінде "Салық және бюджетке төленетін басқа да
        міндетті төлемдер туралы" Қазақстан Республикасы Кодексінің (Салық кодексі)&nbsp;<a
                href="http://adilet.zan.kz/kaz/docs/K1700000120#z13713" target="_blank" rel="noopener noreferrer">774-бабына</a>&nbsp;сәйкес
        бірыңғай жиынтық төлемді төлеушілер болып табылатын жеке тұлғаларға ол (олар) жұмыспен қамтуға жәрдемдесу және
        (немесе) қажет болған кезде әлеуметтік бейімдеу шараларына қатысқан жағдайда көрсетіледі.</p>
    <button class="btn btn-primary" style="margin-left:50px;"><a href="{% url 'clienthelp' %}">Өтініш беру</a></button>
</div>
</body>
{% endblock content %}
</html>